/*Background: #F2F1E8
Text: #131511
Inline Link: #968772
Inline Link (Hover): #967343
Navigation Background: #FFFFFF
Navigation Text: #2B2F26
Navigation Text (Hover): #CD5D67
Navigation Text (Active) #968772
Button Background: #968772
Button Background (Hover): #967343
Button Text: #F2F1E8
Button Text (Hover): #FFFFFF
Input Border Bottom: #968772
Input Border Bottom (Focus): #967343*/

body {
  font-family: Roboto, sans-serif;
  background-color: #F2F1E8;
  margin: 0;
  text-align: center;
  font-size: 1.1em;
}

header {
  background-color: white;
  display: flex;
  text-align: center;
}

nav {
  display: flex;
  margin: auto;
  color: #2B2F26;
  text-transform: uppercase;
  justify-content: center;
}

nav a {
  margin: 0px 30px;
  color: #2B2F26;
}

nav a:hover {
  color: #CD5D67;
}

nav a:active {
  color: #968772;
}

#logo img {
  height: 40px;
  padding: 10px;
}

p {
  line-height: 2;
}

h1 {
  font-size: 2.5em;
  font-family: Merriweather, serif;
  font-weight: normal;
  margin-bottom: 30px;
}

h3 {
  font-family: Merriweather, serif;
  font-weight: lighter;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

.opening h1 {
  margin-bottom: 0px;
}

.opening h3 {
  margin-bottom: 40px;
}

.collage {
  display: inline-block;
  width: 800px;
}

/*.collage p {
  background-color: #2B2F26;
  color: #F2F1E8;
  font-size: 1em;
  line-height: normal;
}*/

#row-one, #row-two {
  display: flex;
  justify-content: space-between;
}

.product {
  align-items: flex-end;
}

#product-1, #product-2, #product-3 {
  height: 240px;
  display: flex;
  margin-bottom: 10px;
}

#product-1 {
  background-image: url("./images/optimized/product-1.jpg");
  background-size: cover;
  flex: 3 0 0;
  margin-right: 10px;
}

#product-2 {
  background-image: url("./images/optimized/product-2.jpg");
  background-size: cover;
  flex: 1 0 0;
  margin-right: 10px;
}

#product-3 {
  background-image: url("./images/optimized/product-3.jpg");
  background-size: cover;
  flex: 1 0 0;
}

.product p {
  padding: 10px;
  font-family: Merriweather, serif;
  font-weight: lighter;
  background-color: #2B2F26;
  color: #F2F1E8;
  font-size: 0.7em;
  line-height: normal;
}

#product-4, #product-5, #product-6, #product-7 {
  height: 150px;
  display: flex;
  margin-bottom: 20px;
}

#product-4 {
  background-image: url("./images/optimized/product-4.jpg");
  background-size: cover;
  flex: 1 0 0;
  margin-right: 10px;
}

#product-5 {
  background-image: url("./images/optimized/product-5.jpg");
  background-size: cover;
  flex: 1 0 0;
  margin-right: 10px;
}

#product-6 {
  background-image: url("./images/optimized/product-6.jpg");
  background-size: cover;
  flex: 2 0 0;
  margin-right: 10px;
}

#product-7 {
  background-image: url("./images/optimized/product-7.jpg");
  background-size: cover;
  flex: 1 0 0;
}

footer {
  background-color: #2B2F26;
  color: #F2F1E8;
  padding: 6px 6px 6px 20px;
  text-align: left;
  font-family: Merriweather, serif;
  font-weight: lighter;
}

/*Code for about page begins here*/


.top h3, .lower h3 {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.top, .lower {
  margin: 0 15% 3% 15%;
  text-align: left;
}

.intro {
  font-family: Roboto, sans-serif;
  background-color: #F2F1E8;
  /*display: flex;*/

}

.para {
  font-weight: bold;
}

.intro img {
  height: 100px;
  float: left;
  padding-right: 15px;
}

blockquote {
  border-left: solid 1px;
  margin: 2% 0;
  padding-left: 20px;
  text-align: left;
  font-style: italic;
  line-height: 2;
  font-weight: lighter;
}

#grow {
  background-image: url("./images/optimized/background-3.jpg");
  background-size: cover;
  width: 100%;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: Merriweather, serif;
  font-size: 2.5em;
}

.lower_p1 {
  display: flex;
}

.lower_p1 img {
  float: right;
  height: 150px;
}

figure img {
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  margin-top: 1em;
  text-align: center;
}

td {
  font-family: Merriweather, serif;
  border: solid 1px;
  text-align: left;
  padding: 10px 20px;
}


.dark {
  background-color: #ECE4D7;
}

#linkto a {
  color: #968772;
}

#linkto a hover {
  color: #967343;
}

/*Beginning of Newsletter styling*/
.form-section {
  min-height: auto;
  display: flex;
  margin: 0;
  justify-content: center;
  background-image: url("./images/optimized/background-2.jpg");
  background-size: cover;
}

.form-content {
  background-color: white;
  padding: 20px 40px;
  margin-top: 5%;
  margin-bottom: 8%;
  font-family: Merriweather, serif;
}

/*.form-content h3 {
  margin-top: 20px;
}

.form-content p {
  margin-top: 10px;
  font-size: 1.1em;
}*/

button {
  background-color: #968772;
  color: #F2F1E8;
  padding: 10px 20px;
}
